/* Font Face Start */
/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* Font Face End */


/* Main Style Start */
.wrapper {
    width: 60%;
    max-width: 45em;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

body {
    font-size: 0.7vw;
    font-family: Montserrat, sans-serif;
    color: #161D27;
    background: #ecf0f1;
    padding: 0 1em 1em;
}

h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

input {
    display: none;
}

footer {
    text-align: center;
    margin: 5% auto;
}
/* Main Style End */


/* Accordion styles Start */
.bayan {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0.3em 0.3em -0.3em rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    border-bottom: 0.1em solid #42EC99;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
}

.tab-label:hover {
    background: #1a252f;
}

.nav {
    display: none;
    filter: invert(100%);
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.bayan:hover .nav {
    display: block;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    text-align: center;
    background: white;
    transition: all 0.35s;
}

label {
    cursor: pointer;
}

input:checked + .tab-label {
    background: #1a252f;
    border-bottom: 0.2em solid #861AE2;
}

input:checked + .tab-label .nav {
    transform: rotate(90deg);
}

input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
/* Accordion styles End */


/* Images sizes Start */
#my_photo {
    display: block;
    width: 45%;
    margin: 0 auto;
    border-radius: 5%;
}

#meme_1 {
    display: block;
    width: 55%;
    margin: 1em auto;
    border-radius: 5%;
}

#photo_2 {
    display: block;
    width: 60%;
    margin: 0 auto 0.5em;
    border-radius: 5%;
}

#meme_2 {
    display: block;
    width: 80%;
    max-height: 25em;
    margin: 1em auto 0;
    border-radius: 5%;
}

#meme_3 {
    display: block;
    width: 80%;
    max-height: 25em;
    margin: 1em auto 0;
    border-radius: 5%;
}

#meme_4 {
    display: block;
    width: 80%;
    max-height: 25em;
    margin: 1em auto 0;
    border-radius: 5%;
}

#meme_5 {
    display: block;
    width: 80%;
    max-height: 25em;
    margin: 1em auto 0;
    border-radius: 5%;
}
/* Images sizes End */


/* Media queries Start */
@media (max-width: 1920px) {
    body {
        font-size: 0.8vw;
    }
    .wrapper {
        width: 70%;
    }
  }

@media (max-width: 1180px) {
    body {
        font-size: 1.4vw;
    }
    .wrapper {
        width: 80%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 2.5vw;
    }
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 568px) {
    .tab-label {
        cursor: default;
    }
    .nav {
        display: none;
    }
    .bayan:hover .nav {
        display: none;
    }
}
/* Media queries End */